[Desktop Entry]
Name=LUniversal Installer
GenericName=LUniversal Installer
Comment=LUniversal Installer
Exec=/usr/bin/luniversalinstaller.py
Icon=com.github.yucefsourani.LUniversalInstaller
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Utility;
